TurnKeyWeekEnd/src/jbiServiceUnits/META-INF/ProcessModel/src/_references/_projects/TravelService/src/TravelService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/TravelService"
    xmlns:tns="http://xml.netbeans.org/schema/TravelService"
    elementFormDefault="qualified">
    <xsd:complexType name="Travel">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="from" type="xsd:string"/>
            <xsd:element name="to" type="xsd:string"/>
            <xsd:element name="price" type="xsd:double"/>
            <xsd:element name="departureDate" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TravelReservation">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="id_travel" type="xsd:int"/>
            <xsd:element name="totalPrice" type="xsd:double"/>
            <xsd:element name="date" type="xsd:date"/>
            <xsd:element name="nbPerson" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
