TurnKeyWeekEnd/src/jbiServiceUnits/HotelService/BD/ReserveHotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ReserveHotel" targetNamespace="http://j2ee.netbeans.org/wsdl/HotelService/ReserveHotel" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://j2ee.netbeans.org/wsdl/HotelService/ReserveHotel" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
            <xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="HOTEL_RESERVATION.xsd"/>
	</xsd:schema>
  </types>
  <message name="inputMsg">
    <part name="part" element="ns:HOTEL_RESERVATION"/>
  </message>
  <message name="outputMsg">
    <part name="part" element="ns:HOTEL_RESERVATION"/>
  </message>
  <message name="RetMsg">
    <part name="part" type="xsd:int"/>
  </message>
  <portType name="jdbcPortType">
    <operation name="insert">
      <input name="inputInsert" message="tns:inputMsg"/>
      <output name="outputInsert" message="tns:RetMsg"/>
    </operation>
    <operation name="find">
      <input name="inputFind" message="tns:inputMsg"/>
      <output name="outputFind" message="tns:outputMsg"/>
    </operation>
  </portType>
  <binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="ID_REC" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="HOTEL_RESERVATION" Transaction="NOTransaction" numberOfRecords="" operationType="insert" paramOrder="ID_HOTEL,TOTALPRICE,DATE,NBNIGHT,NBBREAKFAST" sql="insert into HOTEL_RESERVATION (ID_HOTEL,TOTALPRICE,DATE,NBNIGHT,NBBREAKFAST) values (?,?,?,?,?)"/>
      </input>
      <output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
    <operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="ID_REC" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="HOTEL_RESERVATION" Transaction="NOTransaction" numberOfRecords="" operationType="find" paramOrder="" sql="select ID_REC,ID_HOTEL,TOTALPRICE,DATE,NBNIGHT,NBBREAKFAST from HOTEL_RESERVATION"/>
      </input>
      <output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
  </binding>
  <service name="service">
    <port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/__defaultDS"/>
    </port>
  </service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</definitions>

