TurnKeyWeekEnd/src/jbiServiceUnits/META-INF/ProcessModel/src/_references/_projects/HotelService/src/HotelService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/DinnerService"
    xmlns:tns="http://xml.netbeans.org/schema/DinnerService"
    elementFormDefault="qualified">
    <xsd:complexType name="Hotel">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="location" type="xsd:string"/>
            <xsd:element name="stars" type="xsd:int"/>
            <xsd:element name="nightPrice" type="xsd:double"/>
            <xsd:element name="breakfastPrice" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HotelReservation">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="totalPrice" type="xsd:double"/>
            <xsd:element name="date" type="xsd:date"/>
			<xsd:element name="nbPerson" type="xsd:int"/>
			<xsd:element name="nbBreakfast" type="xsd:int"/>
            <xsd:element name="hotel" type="tns:Hotel"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfHotels">
        <xsd:sequence>
            <xsd:element name="Hotel" maxOccurs="unbounded" type="tns:Hotel"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>


