TurnKeyWeekEnd/src/jbiServiceUnits/META-INF/ProcessModel/src/_references/_projects/HotelService/src/HotelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HotelService" targetNamespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/HotelService/HotelService" xmlns:ns="http://xml.netbeans.org/schema/DinnerService" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService">
            <xsd:import namespace="http://xml.netbeans.org/schema/DinnerService" schemaLocation="HotelService.xsd"/>
        </xsd:schema>
    </types>
    <message name="getHotelOperationRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="getHotelOperationResponse">
        <part name="result" type="ns:Hotel"/>
    </message>
    <message name="reserveHotelOperationRequest">
        <part name="id" type="xsd:int"/>
        <part name="date" type="xsd:date"/>
        <part name="nbPerson" type="xsd:int"/>
        <part name="nbBreakfast" type="xsd:int"/>
    </message>
    <message name="reserveHotelOperationResponse">
        <part name="result" type="ns:HotelReservation"/>
    </message>
    <message name="getHotelsOperationRequest">
        <part name="location" type="xsd:string"/>
    </message>
    <message name="getHotelsOperationResponse">
        <part name="results" type="ns:ListOfHotels"/>
    </message>
    <portType name="HotelServicePortType">
        <operation name="getHotelOperation">
            <input name="input1" message="tns:getHotelOperationRequest"/>
            <output name="output1" message="tns:getHotelOperationResponse"/>
        </operation>
        <operation name="reserveHotelOperation">
            <input name="input2" message="tns:reserveHotelOperationRequest"/>
            <output name="output2" message="tns:reserveHotelOperationResponse"/>
        </operation>
        <operation name="getHotelsOperation">
            <input name="input3" message="tns:getHotelsOperationRequest"/>
            <output name="output3" message="tns:getHotelsOperationResponse"/>
        </operation>
    </portType>
    <binding name="HotelServiceBinding" type="tns:HotelServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotelOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService"/>
            </output>
        </operation>
        <operation name="reserveHotelOperation">
            <input name="input2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService"/>
            </output>
        </operation>
        <operation name="getHotelsOperation">
            <input name="input3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/HotelService/HotelService"/>
            </output>
        </operation>
    </binding>
    <service name="HotelServiceService">
        <port name="HotelServicePort" binding="tns:HotelServiceBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/HotelServiceService/HotelServicePort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="HotelService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HotelServicePortTypeRole" portType="tns:HotelServicePortType"/>
    </plnk:partnerLinkType>
</definitions>



