TurnKeyWeekEnd/src/jbiServiceUnits/TravelService/TravelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelService" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelService/TravelService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelService/TravelService" xmlns:ns="http://xml.netbeans.org/schema/TravelService" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelService/TravelService">
            <xsd:import namespace="http://xml.netbeans.org/schema/TravelService" schemaLocation="TravelService.xsd"/>
        </xsd:schema>
    </types>
    <message name="getTravelOperationRequest">
        <part name="locationFrom" type="xsd:string"/>
        <part name="locationTo" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getTravelOperationResponse">
        <part name="result" type="ns:Travel"/>
    </message>
    <message name="reserveTravelOperationRequest">
        <part name="id" type="xsd:int"/>
        <part name="nbPerson" type="xsd:int"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="reserveTravelOperationResponse">
        <part name="result" type="ns:TravelReservation"/>
    </message>
    <portType name="TravelServicePortType">
        <operation name="getTravelOperation">
            <input name="input1" message="tns:getTravelOperationRequest"/>
            <output name="output1" message="tns:getTravelOperationResponse"/>
        </operation>
        <operation name="reserveTravelOperation">
            <input name="input2" message="tns:reserveTravelOperationRequest"/>
            <output name="output2" message="tns:reserveTravelOperationResponse"/>
        </operation>
    </portType>
    <binding name="TravelServiceBinding" type="tns:TravelServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getTravelOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelService/TravelService"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelService/TravelService"/>
            </output>
        </operation>
        <operation name="reserveTravelOperation">
            <input name="input2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelService/TravelService"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelService/TravelService"/>
            </output>
        </operation>
    </binding>
    <service name="TravelServiceService">
        <port name="TravelServicePort" binding="tns:TravelServiceBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelServiceService/TravelServicePort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelServicePortTypeRole" portType="tns:TravelServicePortType"/>
    </plnk:partnerLinkType>
</definitions>


